---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Time from "@/components/Time.astro";
import Prose from "@/components/Prose.astro";

const { title, description, publishDate, contentModifiedDate, robots } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  publishDate={publishDate}
  contentModifiedDate={contentModifiedDate}
  robots={robots}
>
  <section class="space-y-4">
    <header
      class="border-zmoki-stone-200 flex flex-col gap-6 rounded-2xl border bg-white px-4 py-8 shadow-sm md:items-center md:p-16 md:text-center lg:p-20"
    >
      <h1 class="text-5xl font-semibold tracking-tight xl:text-6xl" set:html={title} />
      {
        description && (
          <p class="text-zmoki-stone-600 text-2xl xl:text-3xl" set:html={description} />
        )
      }
      <p class="text-zmoki-stone-500 order-first flex flex-col gap-2 text-sm md:flex-row lg:gap-4">
        <span>Updated on <Time datetime={contentModifiedDate} /></span>
      </p>
    </header>
    <Prose class="prose-xl xl:prose-2xl xl:px-28 xl:py-16">
      <slot />
    </Prose>
  </section>
</BaseLayout>
