---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Time from "@/components/Time.astro";
import Prose from "@/components/Prose.astro";
import BrevoForm from "@/components/BrevoForm.astro";

export interface Props {
  type: "page" | "link";
  title: string;
  description?: string;
  publishDate: Date;
  contentModifiedDate: Date;
  slug?: string;
  form?: {
    brevoFormId: string;
    buttonText: string;
    title: string;
    description: string;
  };
}

const { title, description, publishDate, contentModifiedDate, slug, form } = Astro.props;
const isContentModified = contentModifiedDate.getTime() > publishDate.getTime();
---

<BaseLayout
  title={title}
  description={description}
  publishDate={publishDate}
  contentModifiedDate={contentModifiedDate}
>
  <article class="space-y-4">
    <!-- Post Header -->
    <header
      class="border-zmoki-stone-200 flex flex-col gap-6 rounded-2xl border bg-white px-4 py-8 shadow-sm md:items-center md:p-16 md:text-center lg:p-20 lg:pb-16"
    >
      <h1 class="text-5xl font-semibold tracking-tight xl:text-6xl" set:html={title} />
      {
        description && (
          <p class="text-zmoki-stone-600 text-2xl xl:text-3xl" set:html={description} />
        )
      }

      <p class="text-zmoki-stone-500 order-first flex flex-col gap-2 text-sm md:flex-row lg:gap-4">
        <span>Published on <Time datetime={publishDate} /></span>
        {
          isContentModified && (
            <span>
              [updated on <Time datetime={contentModifiedDate} />]
            </span>
          )
        }
      </p>
    </header>

    <div class="flex flex-col gap-4">
      <!-- Post Content -->
      <Prose class="prose-xl xl:prose-2xl xl:px-32 xl:py-16">
        <slot />
      </Prose>
      {
        form && (
          <div class="order-first">
            <BrevoForm
              brevoFormId={form.brevoFormId}
              buttonText={form.buttonText}
              resourceSlug={slug}
            >
              <h2 set:html={form.title} />
              <p set:html={form.description} />
              <p>
                You'll also join my occasional newsletter with new tools and ideas, you can
                unsubscribe at any time though.
              </p>
            </BrevoForm>
          </div>
        )
      }
    </div>
  </article>
</BaseLayout>
